.myBtn {
	padding: 5px 15px;
	font-size: 14px;
	background-color: transparent;
	color: teal;
	border: 1px solid teal;
	border-radius: 5px;
	cursor: pointer;
}

.myBtn:not(:last-child) {
	margin: 0 10px;
}