.myNavigation {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin: 20px 0;
}
.myNavigation__link {
	margin-right: 25px;
	text-decoration: none;
	font-weight: 600;
	font-size: 20px;
	line-height: 100%;
	color: teal;
}
.myNavigation__link__logout {
	text-decoration: none;
	color: teal;
}